// CONTAINERS WIDTHS
$mobile-width: 98vw;
$tablet-width: 94vw;
$medium-width: 92vw;
$large-width: 84vw;
$xlarge-width: 80vw;

header{
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0;
    z-index: 10;
}
.container{
    max-width: $mobile-width;
}
// NAVBAR
.wrapper-navbar {
    background-color: #263246;
    width: 100%;
    height: 78px;

    .main-navbar{
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .logo-top {
            .normal-logo{
                display: none;
            }
            .mobile-logo{
                margin-left: 1px;
                width: 13%;
                height: 13%;
            }
        }

        .main-menu{
            margin-left: -50%;

            li{
                display: inline-block;
                padding-right: 30px;
            }
            li a{
                font-size: 15px;
                color: #FFF;
            }
        }

        nav{
            display: none;
        }

        .simulator-btn{
            display: none;
        }
    }
}


// HAMBURGUER
.container-hamburguer {
    input{
        display: none;
        z-index: 99;
    }
    label{
        position: absolute;
        top: 2vh;
        right: 9vw;
    }
    .menu-hamburguer{
        width: 35px;
        height: 35px;
        cursor: pointer;
        .hamburguer{
            position: relative;
            top: 17.5px;
            left: 7.8px;
            display: block;
            background: #fff;
            width: 20px;
            height: 2px;
            transition: 0.6s ease-in-out;
            ::after, ::before{
                background: #fff;
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            ::before{
                top: -7px;
            }
            ::after{
                bottom: -7px;
            }
        }
    }
}
.menu-hamburguerX .hamburguerX{
    position: relative;
    top: 17.5px;
    left: 7.8px;
    display: block;
    background: #fff;
    width: 20px;
    height: 2px;
    transform: rotate(45deg);
}
.menu-hamburguerX .hamburguerX::before{
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    transform: rotate(90deg);
}
.container-hamburguer input:checked ~ .pages-hamburguer{
    transform: translateX(-100vw);
}
.pages-hamburguer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #263246;
    width: 100vw;
    height: 100vh;
    position: absolute;
    list-style: none;
    text-align: center;
    top: 0;
    left: 100vw;
    transition: 0.6s all ease-in-out;
}
.pages-hamburguer img{
    width: 70px;
    position: absolute;
    top: 3vh;
    left: 8vw;
}
.pages-hamburguer .links-hamburguer {
    margin-top: 20vh;
}
.pages-hamburguer .links-hamburguer li{
    margin: 25px auto;
}
.pages-hamburguer .links-hamburguer li a{
    font-size: 22px;
    color: #FFF;
    font-weight: 300;
}
.btn-hamburger{
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #FDCD37;
    border-radius: 2px;
    text-transform: uppercase;
}
.btn-hamburger a{
    color: #263246;
    font-weight: 600;
    font-size: 17px;
}
/**/
.underheader{
    height: 78px;
}


/***************************TABLET***************************/
@media (min-width: 529px) {
    .container{
        max-width: 94vw;
    }
}
/***************************MEDIUM***************************/
@media (min-width:820px){/*820*/
    .container{
        max-width: 92vw;
    }
    .logo-top .normal-logo{
        display: flex;
        width: 90px;
        height: 100%;
    }
    .logo-top .mobile-logo{
        display: none;
    }
}
/***************************XMEDIUM***************************/
@media (min-width: 1024px) {
    .container{
        max-width: 84vw;
    }
    .main-menu {
        margin-left: -120%;
    }
    .main-navbar nav{
        display: flex;
        columns: #FFF;
    }
    .main-navbar .simulator-btn{
        display: flex;
    }
    .menu-hamburguer{
        display: none;
    }
    .pages-hamburguer{
        display: none;
    }
}

/***************************LARGE***************************/
@media (min-width: 1439px) {/*1440px*/
    .container{
        max-width: 80vw;
    }
    .main-menu li a{
        font-size: 18px;
    }
    .plataform, .blog{
        margin: auto;
    }
}