.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
    border: none;
    margin: 0;
    padding: 0;
}
embed, iframe, object {
    max-width: 100%;
}
.site-content {
    word-wrap: break-word;
}